.about {
  width: 1920px;
  height: 895px;
}

.about__desc {
  width: 812px;
  height: 270px;
}

.about__title {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.about__text {
  font-family: "RF Dewi Extended", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.about__menu {
  width: 415;
  height: 426;
  border-radius: 5px;
  padding-top: 40px;
  padding-left: 53px;
  color: #fff;
}