header {
  max-width: 1920px;
  height: 100px;
  margin-bottom: 49px;
  background-color: #000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  max-height: 100%;
  margin: 0 auto;
}

.header__logo {
  height: 35px;
  padding-top: 33px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  gap: 43px;
  padding-top: 41px;
}

.header__menu-link {
  display: inline-flex;
  align-items: center;
  font-family: "RF Dewi Extended", sans-serif;
  font-weight: 600;
  line-height: 1;
  font-size: 14px;
  color: #fff;

}

.header__menu-link:hover {
  transition: background-color 0.3s;
  &:hover {
    color: #49D0FF;
  }
}

.header__actions-item svg,
.header__cart-item svg {
  transition: fill 0.3s;
  &:hover {
    stroke: #49D0FF;
    scale: 1.2;
    overflow: visible;
    border-radius: 50%;
  }
}

a:hover,
button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: visible;
}

.header__menu-arrow {
  margin-left: 5px;
  margin-top: 1px;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  margin: 0;
}

.header__actions-list {
  display: flex;
  padding: 0;
  margin-right: 32px;
  gap: 32px;
}

.header__cart-cost {
  display: flex;
  justify-content: space-between;
}

.header__cart-price {
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #ddd;
  margin: 0;
  padding-top: 2px;
  padding-left: 5px;
}

.header__cart-quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background-color: #49D0FF;
  border-radius: 50%;
  font-size: 12px;
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  padding: 0;
  margin-top: 1px;
  margin-left: 5px;
}